# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

SUPABASE_URL=
SUPABASE_PUBLISHABLE_DEFAULT_KEY=

JWT_SECRET_KEY=
JWT_REFRESH_SECRET=

SENDGRID_FROM_EMAIL=
SENDGRID_API_KEY=