# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

SUPABASE_URL=
SUPABASE_PUBLISHABLE_DEFAULT_KEY=

JWT_SECRET_KEY=
JWT_REFRESH_SECRET=

RESEND_API_KEY=

CONTENTFUL_API_KEY=
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_SPACE_ID=

# cors settings
LOCAL_FRONTEND_URL=
VERCEL_FRONTEND_URL=

PORT=

CONTENTFUL_WEBHOOK_SECRET=

